config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true
lombok.accessors.flagUsage = ERROR
lombok.cleanup.flagUsage = ERROR
lombok.data.flagUsage = ERROR
lombok.value.flagUsage = ERROR
lombok.fieldDefaults.flagUsage = ERROR
lombok.val.flagUsage = ERROR
lombok.var.flagUsage = ERROR
lombok.jacksonized.flagUsage = ERROR
lombok.extensionMethod.flagUsage = ERROR
lombok.fieldNameConstants.flagUsage = ERROR
lombok.helper.flagUsage = ERROR
lombok.log.apacheCommons.flagUsage = ERROR
lombok.log.custom.flagUsage = ERROR
lombok.log.flogger.flagUsage = ERROR
lombok.log.javaUtilLogging.flagUsage = ERROR
lombok.log.jbosslog.flagUsage = ERROR
lombok.log.log4j2.flagUsage = ERROR
lombok.log.xslf4j.flagUsage = ERROR
lombok.with.flagUsage = ERROR
lombok.withBy.flagUsage = ERROR
